<h3>RegisterComponent</h3>

<InputText @bind-Value="@Username" Placeholder="Enter Username" type="Username" />
<InputText @bind-Value="@Email" Placeholder="Enter Username" type="Username" />
<InputText @bind-Value="@Password" Placeholder="Enter Username" type="Username" />
<InputText @bind-Value="@ConfirmPassword" Placeholder="Enter Username" type="Username" />


@code {
    string Username = "";
    string Email = "";
    string Password = "";
    string ConfirmPassword = "";
    DateTime DateofBirth;

}
